BOT_TOKEN=1234567890:telegram_bot_token
GOOGLE_SHEET_ID=google_sheet_id
GOOGLE_SERVICE_ACCOUNT_JSON=service-account.json
TIMEZONE=Europe/Moscow
START_IMAGE_FILE=assets/start.png
INCOME_IMAGE_FILE=assets/img1.png
EXPENSE_IMAGE_FILE=assets/img2.png
